<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.kunalpatel.firebasetest">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
    <activity android:name=".Controllers.Welcome">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
    <activity android:name=".Controllers.Login" />
    <activity android:name=".Controllers.LocationList" />
    <activity android:name=".Controllers.Registration" />
    <activity android:name=".Controllers.LocationItemDetails" />
    <activity android:name=".Controllers.AddDonation" />
    <activity android:name=".Controllers.PageLocation" />
    <activity android:name=".Controllers.DonationItemDetail"></activity>
    <activity android:name=".Controllers.SearchActivity"></activity>
    </application>

</manifest>